<!DOCTYPE>
<html>
  <head>
    <title>TODO</title>
  </head>
  <body>
    <div id="todo-table">
      <form>
      <input type="text" name="item" placeholder="Write Something....." required />
      <button type="submit">Add Item</button>
      </form>
    </div>
  </body>
</html>
